<mat-table [dataSource]="products">
  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Descrição do Produto</mat-header-cell>
    <mat-cell *matCellDef="let product">{{ product.description }}</mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-header">
      <button mat-mini-fab color="accent" aria-label="Adicionar produto">
        <mat-icon (click)="onAdd()">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let product" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar produto">
        <mat-icon (click)="onEdit(product)">edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover produto">
        <mat-icon (click)="onDelete(product)">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Code Column -->
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>Código do Produto</mat-header-cell>
    <mat-cell *matCellDef="let product">{{ product.code }}</mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Preço</mat-header-cell>
    <mat-cell *matCellDef="let product">{{ product.price }}</mat-cell>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
    <mat-cell *matCellDef="let product">{{ product.amount }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
